# Application settings
HELPY__RUN__HOST=0.0.0.0
HELPY__RUN__PORT=8000
HELPY__RUN__RELOAD=True
HELPY__RUN__WORKERS_COUNT=1

# Environment
HELPY__ENVIRONMENT=dev

# Database settings
HELPY__DB__HOST=localhost
HELPY__DB__PORT=5432
HELPY__DB__USER=helpy
HELPY__DB__PASSWORD=helpy
HELPY__DB__BASE=helpy
HELPY__DB__ECHO=False
HELPY__DB__POOL_SIZE=50
HELPY__DB__MAX_OVERFLOW=10

# Redis settings
HELPY__REDIS__HOST=helpy-redis
HELPY__REDIS__PORT=6379

# Kafka settings
HELPY__KAFKA__BOOTSTRAP_SERVERS=["helpy-kafka:9092"]

# Logging settings
HELPY__LOGGING__LEVEL=DEBUG
HELPY__LOGGING__SERIALIZE=False

# JWT settings
# HELPY__AUTH_JWT__PRIVATE_KEY_PATH=src/certs/jwt-private.pem
# HELPY__AUTH_JWT__PUBLIC_KEY_PATH=src/certs/jwt-public.pem
# HELPY__AUTH_JWT__ALGORITHM=RS256
# HELPY__AUTH_JWT__REFRESH_TOKEN_EXPIRE_DAYS=30
# HELPY__AUTH_JWT__ACCESS_TOKEN_EXPIRE_MINUTES=15

# Docker version
HELPY_VERSION=latest

# PostgreSQL settings (for docker-compose db service)
POSTGRES_PASSWORD=helpy
POSTGRES_USER=helpy
POSTGRES_DB=helpy

